.section {
  padding: 72px 24px 24px 24px;
  display: grid;
  grid-template-columns: 58fr 39fr;
  gap: 3%;
}

.block {
  align-content: center;
}

.contentText {
  font-size: 1.6rem;
}

.contentButton {
  font-size: 1.4rem;
  height: 3.6rem;
}

.imgHome {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 24px;
}
