.block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 72px 24px 24px 24px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  width: 58%;
}

.contentText {
  font-size: 1.6rem;
}

.contentButton {
  font-size: 1.4rem;
  height: 3.6rem;
}

.containerImg {
  width: 39%;
}

.imgHome {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 24px;
}
