.modal {
  padding: 4rem;
  border-radius: 2rem;
  max-width: 400px;
}

.modalReason {
  padding: 2rem 2.5rem;

  .header {
    align-items: flex-start;
  }

  .buttonBlock {
    display: flex;
    justify-content: center;
  }

  .button–°ancel {
    background-color: rgba(138, 140, 140, 1);
    color: black;
  }

  .button {
    width: auto;
  }
}

.header {
  align-items: center;
  font-size: 1.6rem;
}

.button {
  width: 100%;
}

.text {
  font-size: 1.1rem;
  color: rgba(138, 140, 140, 1);
  margin: auto;
}

.error {
  display: block;
  color: #ef4444;
  font-size: 0.875rem;
}
