.outlet {
  max-width: 1440px;
  margin: 0 24px;
  min-height: calc(100vh - 96px);
}

.layoutBlock {
  padding: 0 24px;
  background-color: #2C3031;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.footer {
    justify-content: flex-start;
    gap: 28px;
  }

  & button {
    padding: 0.4rem 0.8rem;;
  }
}

.containerImg {
  height: 50%;
}

.layoutText {
  font-size: 1.2rem;
  font-weight: 500;
  color: rgba(138, 140, 140, 1);
}

.avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: rgba(185, 186, 186, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  & p {
    font-size: 1.1rem;
  }
}

.navLink {
  opacity: 1;
  cursor: pointer;
  pointer-events: auto;
  transition: all 0.2s ease;

  &.disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
  }

  &.active {
    color: rgba(255, 255, 255, 1);
  }
}

.dropdownMenuText {
  font-size: 1.1rem;
}
