.outlet {
  max-width: 1440px;
  margin: 0 auto;
  min-height: calc(100vh - 96px);
}

.layoutBlock {
  padding: 0 24px;
  background-color: #2C3031;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.footer {
    justify-content: flex-start;
    gap: 28px;
  }
}

.containerImg {
  height: 50%;
}

.layoutText {
  font-size: 1.2rem;
  font-weight: 500;
  color: rgba(138, 140, 140, 1);
}
