@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.section {
  @include section;
  align-items: center;
}

.card {
  @include card;
  display: flex;
  justify-content: center;
  max-width: 836px;
}
