@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.section {
  @include section;
  gap: 16px;

  .title {
    display: flex;
    align-items: center;
    gap: 16px;

    .count {
      font-size: 20px;
      font-weight: 500;
      color: rgba(138, 140, 140, 1);
    }
  }
}
